body{
	background-color:#f4f4f4;
	color:#555555;
	font: normal 16px Arial, Helvetica, sans-serif; 
	line-height:1.6em;
	margin:0;
}

.container{
	width:80%;
	margin:auto;
	
}
a{
	text-decoration:none;
}
a:hover{
	color:red
}
a:active{
	color:green
}

.box1{
	background-color:#333;
	border:5px red solid;
	border-width:3px;
	color:#fff;
}
.categories{
	border:1px #ccc solid;
	padding:10px;
	border-radius:15px;	
	background-color:white;
}
.form1{
	border:1px #ccc solid;
	padding:10px;
	border-radius:15px;	
	background-color:white;
}
.categories h2{
	text-align:center;
}